body {
	margin: 0;
}

img.violin {
	display: block;
	position: absolute;
    top: 0;
    right: 0;
    width: 59%;
    z-index: 0;
}

img.amoore {
	display: block;
	position: absolute;
    left: 46.015625%;
    width: 7.96875%;
}

img.nf {
	display: block;
	position: absolute;
    left: 42.2395835%;
    width: 15.520833%;
}


img.fvl {
	display: block;
	position: absolute;
    left: 2.5%;
    width: 22.23%;
    cursor: pointer;
}
img.fvl:hover {
	opacity: 0;
	cursor: pointer;
}


img.fvl2 {
	display: block;
	position: absolute;
    left: 2.5%;
    width: 22.23%;
    opacity: 0;
    cursor: pointer;
}
img.fvl2:hover {
	opacity: 1;
	cursor: pointer;
}



img.con {
	display: block;
	position: absolute;
    left: 2.5%;
    width: 9.583333%;
    cursor: pointer;
}
img.con:hover {
	opacity: 0;
	cursor: pointer;
}


img.con2 {
	display: block;
	position: absolute;
    left: 2.5%;
    width: 9.583333%;
    cursor: pointer;
    opacity: 0;
}
img.con2:hover {
	opacity: 1;
	cursor: pointer;
}


img.hom {
	display: block;
	position: absolute;
    left: 46.6666665%;
    width: 6.666667%;
    cursor: pointer;
    z-index: 1;
}
img.hom:hover {
	opacity: 0;
	cursor: pointer;
}


img.hom2 {
	display: block;
	position: absolute;
    left: 46.6666665%;
    width: 6.666667%;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}
img.hom2:hover {
	opacity: 1;
	cursor: pointer;
}


img.ev {
	display: block;
	position: absolute;
    left: 2.5%;
    width: 14.84375%; 

    cursor: pointer;
}
img.ev:hover {
	opacity: 0;
	cursor: pointer;
}

img.ev2 {
	display: block;
	position: absolute;
    left: 2.5%;
    width: 14.84375%; 
    opacity: 0;
    cursor: pointer;
}
img.ev2:hover {
	opacity: 1;
	cursor: pointer;
}