body {
	margin: 0;
}

img.violin {
	display: block;
	position: absolute;
    top: 0;
    right: 0;
    width: 59%;
}

img.amoore {
	display: block;
	position: absolute;
    left: 31%;
    width: 38%;
}

img.hq {
	display: block;
	position: absolute;
    left: 35%;
    width: 30%;
}

img.fvl {
	display: block;
	position: absolute;
    left: 2.5%;
    width: 22.23%;
    cursor: pointer;
}
img.fvl:hover {
	opacity: 0;
	cursor: pointer;
}

img.fvl2 {
	display: block;
	position: absolute;
    left: 2.5%;
    width: 22.23%;
    opacity: 0;
    cursor: pointer;
}
img.fvl2:hover {
	opacity: 1;
	cursor: pointer;
}