
@font-face {
    font-family: 'FuturaBook';
    src: url('FuturaBook.ttf');
}
h1{
font-family: 'FuturaBook', sans-serif;
letter-spacing: .2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
}
h3 {
  text-align: center;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
figure > * {
  margin: 0 auto 0.55em;
  display:block


}
figure > * {
  text-align: center;
  color: #b0cfd1;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

body {
  background-color: #29465b;
margin: 30px;
font-family: 'Playfair Display', sans-serif;}


p.indent {
  text-indent: 30px;
}

.orange1 {
  color: #e64e43
}
a.orange1 {
  color: #e64e43
}


.blue3 {
  color: #79a8c7;
}
a.blue3{
  color: #79a8c7;
}


.yellow {
  color: #ffffff
}
a.yellow {
  color: #ffffff
}

.green2 {
  color: #00a273
}
a.green2 {
  color: #00a273
}



h1 a {
  text-decoration: none;
}



ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #79a8c7; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

ol {

  color: #79a8c7;
}
